.cart-page {
  padding-block: 4rem;
}

.cart-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.cart-item {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.cart-item img {
  width: 120px;
  aspect-ratio: 1;
  object-fit: cover;
}

.quantity-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-block: 1rem;
}

.quantity-controls button {
  width: 35px;
  height: 35px;
}

.cart-summary {
  padding: 2rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  height: fit-content;
}

@media (max-width: 800px) {
  .cart-layout {
    grid-template-columns: 1fr;
  }
}